
@using SDProject.Models;
@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Contact";
}



<br />
<br />

    <div class="row">
        <div class="col-6">
            <h4 class="text-info">CONTACT LIST</h4>
        </div>

    </div>

    <br />
    <div class="p-4 border rounded box-shadow">
        <table class="table table-striped border  box-shadow" id="myTable">
            <thead>
                <tr class="bg-info text-light">
                    <th>
                        @Html.DisplayNameFor(c => c.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.Message)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Subject</td>
                        <td>@item.Message</td>
                        <td></td>
                        <td></td>




                    </tr>
                }
            </tbody>
          
           
        </table>

    </div>


@section scripts{


    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

       


    </script>
}


